
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
ENV/
.env
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.mypy_cache/
.pytype/
.pyre/
.vscode/
.idea/
*.swp
*.swo
*~
**/*.asm
**/*.out
